{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center;}
    .example-wrapper code { background: #000000; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Bienvenue {{ app.user != null ? dump(app.user.role):"" }} 👋 !</h1>
    Découvrez nos articles !
</div>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
    console.log("ok")
</script>

{% for acte in actes %}
    <h1 style="text-align: center;";>Acte {{acte}}</h1>
    <div class="example-wrapper" style="display: flex; flex-wrap: wrap; margin-left: 25%;">
        {% for article in articles %}
            {% if article.acte == acte %}
                <div class="card border-primary mb-3" style="max-width: 20rem; width: 50%; margin: 10px">
                    <div class="card-header">{{article.titre}}</div>
                    <div class="card-body">
                        <p class="card-text">{{article.resume}}</p>
                        <button onclick="location.href='./Article/num/{{article.id}}'" type="button" class="btn btn-primary">Lire</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}


{% endblock %}
